.info-container {
  display: flex;
}

.basicinfo-container {
  width: 75%;
}

.basicinfo-fullname {
  font-size: 40px;
  color: hsl(197, 88%, 36%)
}

.basicinfo-profTitle {
  font-size: 20px;
  color: hsl(197, 88%, 55%)
}

.basicinfo-about {
  font-size: 15px;
  color: rgba(75, 73, 73, 0.678);
}

.contactinfo-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.educationinfo-container h3 {
  color: hsl(197, 88%, 36%)

}

.workinfo-container h3 {
  color: hsl(197, 88%, 36%)

}

.contactinfo-item {
  font-size: small;
}

.ed-heading {
  display: flex;
  margin-top: 10px;
}

.ed-school {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  font-size: 18px;
}

.ed-date {
  align-self: center;
  font-size: smaller;
  color: rgb(133, 133, 133);
}

.lower-bottom {
  display: flex;
}

.left-side {
  width: 60%;
  margin-right: 20px;
}

.bi.bi-envelope-fill {
  color: hsl(197, 86%, 26%)

}

.bi.bi-telephone-fill {
  color: hsl(197, 86%, 26%)

}

.bi.bi-geo-alt-fill {
  color: hsl(197, 86%, 26%)

}

.bi.bi-browser-chrome {
  color: hsl(197, 86%, 26%)

}

.right-side h3 {
  color: hsl(197, 88%, 36%)
}